/*

# Allow .config
!/.config
/.config/*
!/.config/i3/
!/.config/git/
/.config/git/hooks/*/*.local
!/.config/kitty/
!/.config/systemd/user/
!/.config/gtk-3.0/settings.ini

!/.Xresources
!/.editorconfig
!/.gitconfig
!/.githooks_global
!/.gitignore_global
!/.gitmodules
!/.tmux.conf
!/.tmux/

!/.vim/
/.vim/*
!/.vim/autoload

!/.vimrc

!/.xsession
!/.zshrc

!/Brewfile
!/LICENSE
!/README.md# Ignore everything

!/.gitignore
